.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;

    label {
        font-family: $poppinsFont;
        font-weight: $bold;
        font-size: 1.25rem;
        color: $cyan;
    }

    input {
        margin-top: 10px;
        font-family: $poppinsFont;
        font-size: $fontSizeInput;
        color: $darkGray;
        border: 2px solid $purple;
        outline: none;
        border-radius: 13px;
        padding: 15px 26px;

        &::placeholder {
            color: $lightGray;
        }
    }
}