.note {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    &__title {
        font-family: $poppinsFont;
        font-weight: $bold;
        font-size: 1.25rem;
        color: $normalPink;
        margin-right: 20px;
    }

    &__message {
        background-color: $normalPink;
        padding: 10px 15px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
        width: 100%;
        max-width: 375px;

        p {
            font-family: $poppinsFont;
            font-size: 0.95rem;
            color: white;
        }
    }
}